@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik","Open Sans", sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(/images/hero-bg2.jpg);
}
::selection{
  color: #fff;
  background: #5256AD;
}
.voice-generator {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* background: url(/images/bg.jpg); */
  background-position: top;
}

.voice-generator::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #121212;
}

.voice-generator .content {
  position: relative;
  color: #fff;
  padding: 0 15px;
  max-width: 760px;
  text-align: center;
}

.voice-generator h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.voice-generator p {
  margin-top: 10px;
  font-size: 1.35rem;
  margin-bottom: 20px;
}
.wrapper{
  color: #121212;
  width: 675px;
  max-width: 100%;
  align-items: center;
  margin: 0 auto;
  padding: 15px 30px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0,0,0,0.05);
}
.wrapper header{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.wrapper form{
  margin: 25px 0 20px;
}
form .row{
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}
form .row p{
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.35rem;
}
form .row label{
  font-size: 18px;
  margin-bottom: 5px;
}
form .row:nth-child(2) label{
  font-size: 17px;
}
form :where(textarea, select, button){
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}
form .row textarea{
  resize: none;
  height: 110px;
  font-size: 15px;
  padding: 8px 10px;
  border: 1px solid #999;
}
form .row textarea::-webkit-scrollbar{
  width: 0px;
}
form .row .outer{
  height: 47px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #999;
}
form .row select{
  font-size: 14px;
  background: none;
}
form .row select::-webkit-scrollbar{
  width: 8px;
}
form .row select::-webkit-scrollbar-track{
  background: #fff;
}
form .row select::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
form button{
  height: 52px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px;
  background: #8F00FF;
  transition: 0.3s ease;
}
form button:hover{
  background: #db80fa;
}
@media screen and (max-width: 920px) {
  .voice-generator {
    background: url(/images/hero-bg2.jpg) center/cover no-repeat;
  }

  .voice-generator h1 {
    font-size: 1.8rem;
  }

  .voice-generator p {
    font-size: 1rem;
  }
  
  .wrapper{
    width: auto;
    height: auto;
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 15px 15px;
    border-radius: 7px;
    background: #fff;
    box-shadow: 7px 7px 20px rgba(0,0,0,0.05);
    display: flex;
    flex-wrap: wrap;
  }

  .wrapper header{
    margin: 0 auto;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
  }
  .wrapper form{
    margin: 25px 0 10px;
  }
}

@media screen and (max-width: 760px) {
  .voice-generator {
    height: 15vh;
    padding-top: -50px;
    background: url(/images/hero-bg2.jpg) center/cover no-repeat;
  }

  .voice-generator h1 {
    font-size: 1.8rem;
  }

  .voice-generator p {
    font-size: 1rem;
  }
  .wrapper{
    max-width: 100%;
    overflow-x: hidden;
    width: 100px;
  }
}
@media(max-width: 400px){
  .wrapper{
    max-width: 300px;
    width: 100%;
    order: 2;
  }
}